header#masthead {
  background-color: $color_prime;
  height: $header-height;
  border-bottom: 1px $color_prime_invert solid;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  .site-branding {
    .logo-container {
      width: $header-height;
      height: $header-height;
      img.custom-logo {
        width: 100%;
        padding: 20px;
      }
    }
  }

  .title-container {
    position: absolute;
    top: 0;
    right: 0;
    left: $header-height;
    text-align: center;
    a {
      text-decoration: none;
      color: $color_prime_invert;

      span.small {
        display: none;
      }
      
      @media screen and (max-width: 800px) {
        span.big {
          display: none;
        }

        span.small {
          display: inline-block;
        }
      }
    }
  }

  .nav-container {
    position: absolute;
    bottom: 0;
    left: $header-height;
    height: $header-height / 3;
    right: 0;
    background-color: $color_nav;
    background: linear-gradient(to left, $color_nav, $color_prime);
    color: $color_accent;
    display: flex;
    align-items: center;
    justify-content: center;
    ul.menu {
      float: right;

      li.menu-item {
        padding: 20px;

        a {
          font-size: 25px;
          color: $color_prime_invert;
        }
      }
    }
  }
}

.header-spacer {
  height: $header-height;
}